body {
    margin: 200px;
}


#white-part {
    height: 300px;
    width: 400px;
    border: solid 10px black;
}

#red-part {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}